SUPABASE_URL="NEXT_PUBLIC_SUPABASE_URL="https://mhuhgozelxwgmtvugxsq.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1odWhnb3plbHh3Z210dnVneHNxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQ0ODEyMSwiZXhwIjoyMDg4MDI0MTIxfQ.5xRq-lJkj-LYYWrp17hbw3mi6cS-AmyjiBQz6EI83Bc"
GEMINI_API_KEY="AIzaSyChcJYbbW7WW6kA3Mn5s2pDKB5ehn9BRtY"
MCP_SERVICE_ENDPOINT="YOUR_MCP_ENDPOINT"
FRONTEND_URL="http://localhost:3000"
